#g-htan-form
  table
    width 100%
    tr:last-child td
      display none
    tr:last-child td:first-child
      display initial

    tr .g-htan-add
      display none
    tr:last-child
      .g-htan-add
        display initial
      .g-htan-delete
        display none
